body {
    background-color: #fcf29f;
    font-family: 'Syne Mono', 'Courier New', Courier, monospace;
}

header {
    width: 100%;
    position: relative;
    top: 15px;
    text-align: center;
}

header h1 {
    font-size: 20px;
}

.txt-field {
    position: relative;
    top: 25px;
}

#text-field-input {
    width: 80%;
    height: 30px;
    position: relative;
    border: 2px solid #fcf29f;
    border-radius: 5px;
    left: 13px;
    top: -5px;
}

#add {
    position: relative;
    right: 18px;
    top: -2px;
    height: 25px;
    width: 25px;
}



#list {
    display: flex;
    flex-direction: column;
    /*margin-top: 25px;*/
}
#list div {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 20px;
    height: 40px;
    width: 90%;
    padding-left: 15px;
    border-bottom: 1px solid #000;
}
#list p {
    float: left;
}

#list button {
    height: 20px;
    margin-top: 15px;
    margin-right: 21px;
}

i {
    position: relative;
    top: 12px;
}